.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    height: 25px;
    

}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar a{
    color:white;
    font-size: large;
}
aside{
    position: relative;
    top: 10px;
    float: right;
    width: 120px;
    background-color: beige;
    border-color: black;
    
}
a:hover{
    color:lightcoral;
}
form{
    position: absolute;
}
#color{
    color:salmon;
}